#nome-autor::after {
    content: "|";
    animation: piscar 1s infinite;
}
@keyframes piscar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}